[user]
        name = Palash Bauri
        email = palashbauri1@gmail.com
        username = bauripalash
        signingkey = 893DB938C4F55DCD2DCF9904A46AD0C21F1F9DCF

[commit]
        gpgsign = true

[gpg]
        program=/usr/bin/gpg

[core]
        editor = nvim
        whitespace = fix,trailing-space,cr-at-eol
	autocrlf = input

[init]
        defaultBranch = main

[web]
        browser = firefox


