[Desktop Entry]
Comment[en_US]=
Comment=
Exec=\sibus-daemon --xim --replace --daemonize --panel=/usr/lib/ibus/ibus-ui-gtk3
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=ibus-daemon
Name=ibus-daemon
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
